.dy_conts {
  position: relative;
}

.tab_a {
  display: flex;
  height: 1.22667rem;
}

.tab_a a {
  display: block;
  width: 50%;
  text-align: center;
  font-size: 0.4rem;
  height: 1.06667rem;
  line-height: 1.22667rem;
  background: #fff;
}

.tab_a a.active {
  border-bottom: 1px solid #1890ff;
  color: #1890ff;
}

.tab_conts {
  background-color: #f2f2f2;
  top: 2.4rem;
  padding: 0 0 1.33333rem 0;
}

.list_box {
  box-sizing: border-box;
}

.list_box .list_item {
  display: flex;
  padding: 0.53333rem 0.13333rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background-color: rgba(24, 144, 255, 0.0470588);
}

.list_box .list_item .l_left {
  width: 1.2rem;
  text-align: center;
}

.list_box .list_item .l_left img {
  width: 0.64rem;
  height: 0.64rem;
}

.list_box .list_item .l_right {
  width: 86%;
}

.list_box .list_item .l_right h3 {
  font-size: 0.45333rem;
  line-height: 0.66667rem;
}

.list_box .list_item .l_right h3 span {
  float: right;
  font-size: 0.37333rem;
  color: #999;
}

.list_box .list_item .l_right .l_conts {
  padding: 0.13333rem 0;
  font-size: 0.37333rem;
  color: #666;
  line-height: 0.48rem;
}

.list_box .list_item .l_right p {
  font-size: 0.37333rem;
  color: #999;
  line-height: 0.61333rem;
}

.list_box .list_item .l_right a {
  font-size: 0.37333rem;
  color: #FAAD14;
  line-height: 0.61333rem;
}

.list_box .list_item .l_right a.success {
  color: #09BB07;
}

.list_box .list_item .l_right a.error {
  color: red;
}

.dy_serch {
  padding: 0.13333rem 0.26667rem;
  background: #fff;
}

.dy_serch input, .dy_serch .mui-input-clear {
  margin: 0;
  background: #f2f2f2;
}

.dy_serch .mui-placeholder {
  line-height: 44px;
}

.dy_serch .mui-search:before {
  top: 50%;
}

.obj_item {
  box-sizing: border-box;
  margin: 0.26667rem;
  padding: 0.26667rem 0;
  border-radius: 4px;
  background: #fff;
}

.obj_item .top_obj {
  display: flex;
}

.obj_item .top_obj .o_left {
  width: 1.65333rem;
  text-align: center;
  height: 1.6rem;
  line-height: 1.6rem;
}

.obj_item .top_obj .o_left img {
  width: 0.85333rem;
  height: 0.85333rem;
}

.obj_item .top_obj .o_right {
  width: 85%;
}

.obj_item .top_obj .o_right h3 {
  font-size: 0.45333rem;
  line-height: 0.66667rem;
  font-weight: bold;
  color: #1890ff;
}

.obj_item .top_obj .o_right .leb {
  margin-top: 0.2rem;
  display: flex;
}

.obj_item .top_obj .o_right .leb a {
  display: block;
  font-size: 0.32rem;
  line-height: 0.66667rem;
  text-align: center;
  padding: 0 0.26667rem;
  background: #d0e9ff;
  margin-right: 0.2rem;
  border-radius: 4px;
}

.obj_item .time {
  padding: 0 0 0 0.53333rem;
  font-size: 0.4rem;
  line-height: 0.93333rem;
  color: #666;
}

.obj_item .dy_pro {
  padding: 0 0.53333rem;
}

.obj_item .dy_pro .pro_dec span {
  font-size: 0.4rem;
  line-height: 0.53333rem;
  margin: 0 0.26667rem 0 0;
}

.obj_item .dy_pro .pro_dec span b {
  color: #FAAD14;
}

.obj_item .dy_pro .pro_dec .rouse {
  margin: 0;
  float: right;
}

.obj_item .dy_pro .dy_progressbar {
  margin: 0.2rem 0 0 0;
}

.obj_table_a {
  display: flex;
  overflow-x: auto;
  padding: 0.26667rem;
  height: 1.38667rem;
  background: #fff;
}

.obj_table_a a {
  display: block;
  padding: 0 0.13333rem;
  margin-right: 0.26667rem;
  min-width: 1.54667rem;
  height: 0.72rem;
  font-size: 0.4rem;
  line-height: 0.8rem;
  text-align: center;
  border-radius: 0.36rem;
}

.obj_table_a a.active {
  background: #1890ff;
  color: #fff;
}

.dy_cell {
  margin: 0.26667rem 0 0 0;
}

.dy_cell li {
  color: #333;
}

.dy_cell li span {
  float: right;
}

.week_tab {
  display: flex;
  margin: 0.26667rem;
  border-radius: 8px;
  overflow: hidden;
}

.week_tab .tab_list {
  display: block;
  width: 50%;
  text-align: center;
  background: #fff;
  font-size: 0.53333rem;
  line-height: 1.70667rem;
  color: #333;
}

.week_tab .tab_list span {
  padding: 0 0.13333rem;
  font-size: 0.46667rem;
  color: #fff;
  border-radius: 4px;
}

.week_tab .tab_list .week {
  background: #1bc293;
}

.week_tab .tab_list .month {
  background: #1890ff;
}

.tab_item_box {
  padding: 0 0 1.33333rem 0;
}

.dy_card {
  box-shadow: none;
}

.dy_card h3 {
  padding: 0 0 0 0.33333rem;
  font-size: 0.4rem;
  line-height: 1.28rem;
  color: #333;
  font-weight: bold;
}

.dy_card li {
  color: #333;
}

.dy_card li span {
  float: right;
}

.dy_from {
  background: none;
}

.dy_from .dy_input_right input {
  text-align: right;
  box-sizing: border-box;
}

.dy_from .dy_select_input span {
  float: right;
  margin: 0 0.46667rem 0 0;
}

.file_box {
  margin: 0.26667rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.file_box .file_btn {
  position: relative;
  list-style: none;
  width: 1.86667rem;
  height: 1.6rem;
  border-radius: 4px;
  border: 1px dashed #1890ff;
}

.file_box .file_btn .after {
  position: absolute;
  left: 30%;
  top: 30%;
  color: #1890ff;
}

.file_box .file_btn input {
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file_box .file_list {
  width: 100%;
  height: 1.06667rem;
  margin: 0 0 0.26667rem 0;
  border-bottom: 1px solid #ccc;
}

.file_box .file_list a {
  font-size: 0.53333rem;
  color: #1890ff;
  line-height: 1.06667rem;
}

.file_box .file_list span {
  line-height: 1.06667rem;
  color: #666;
}

.file_box .img_box {
  position: relative;
  margin: 0 0.26667rem 0.26667rem 0;
  width: 1.86667rem;
  height: 1.6rem;
}

.file_box .img_box img {
  width: 100%;
  height: 100%;
}

.file_box .img_box span {
  position: absolute;
  top: -0.13333rem;
  right: -0.13333rem;
  color: #666;
}

.dy_tijiao {
  padding: 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}

.my_info_body {
  height: 100vh;
  background: #f2f2f2;
}

.my_info {
  background: #1890ff;
  padding: 0.53333rem 0 0 0;
  text-align: center;
}

.my_info .name {
  font-size: 0.46667rem;
  line-height: 1.33333rem;
  color: #fff;
}

.my_info img {
  display: block;
  margin: 0 auto;
  width: 1.22667rem;
  height: 1.22667rem;
  border-radius: 50%;
  overflow: hidden;
}

.dy_chege {
  color: #1890ff;
}
