.dy_conts {
  position: relative;
}

.tab_a {
  display: flex;
  height: 1.22667rem;
}

.tab_a a {
  display: block;
  width: 50%;
  text-align: center;
  font-size: 0.4rem;
  height: 1.22667rem;
  line-height: 1.22667rem;
  background: #fff;
}

.tab_a a.active {
  border-bottom: 1px solid #1890ff;
  color: #1890ff;
}

.tab_conts {
  background-color: #f2f2f2;
  top: 2.4rem;
  padding: 0 0 1.33333rem 0;
}

.list_box {
  box-sizing: border-box;
}

.list_box .list_item {
  display: flex;
  padding: 0.53333rem 0.13333rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background-color: rgba(24, 144, 255, 0.0470588);
}

.list_box .list_item .l_left {
  width: 1.2rem;
  text-align: center;
}

.list_box .list_item .l_left img {
  width: 0.64rem;
  height: 0.64rem;
}

.list_box .list_item .l_right {
  width: 86%;
}

.list_box .list_item .l_right h3 {
  font-size: 0.45333rem;
  line-height: 0.66667rem;
}

.list_box .list_item .l_right h3 span {
  float: right;
  font-size: 0.37333rem;
  color: #999;
}

.list_box .list_item .l_right .l_conts {
  padding: 0.13333rem 0;
  font-size: 0.37333rem;
  color: #666;
  line-height: 0.48rem;
}

.list_box .list_item .l_right p {
  font-size: 0.37333rem;
  color: #999;
  line-height: 0.61333rem;
}

.list_box .list_item .l_right a {
  font-size: 0.37333rem;
  color: #FAAD14;
  line-height: 0.61333rem;
}

.list_box .list_item .l_right a.success {
  color: #09BB07;
}

.list_box .list_item .l_right a.error {
  color: red;
}

.dy_serch {
  padding: 0.13333rem 0.26667rem;
  background: #fff;
}

.dy_serch input, .dy_serch .mui-input-clear {
  margin: 0;
  background: #f2f2f2;
}

.dy_serch .mui-placeholder {
  line-height: 44px;
}

.dy_serch .mui-search:before {
  top: 50%;
}

.obj_item {
  box-sizing: border-box;
  margin: 0.26667rem;
  padding: 0.26667rem 0;
  border-radius: 4px;
  background: #fff;
}

.obj_item .top_obj {
  display: flex;
}

.obj_item .top_obj .o_left {
  width: 1.65333rem;
  text-align: center;
  height: 1.6rem;
  line-height: 1.6rem;
}

.obj_item .top_obj .o_left img {
  width: 0.85333rem;
  height: 0.85333rem;
}

.obj_item .top_obj .o_right {
  width: 85%;
}

.obj_item .top_obj .o_right h3 {
  font-size: 0.45333rem;
  line-height: 0.66667rem;
  font-weight: bold;
  color: #1890ff;
}

.obj_item .top_obj .o_right .leb {
  margin-top: 0.2rem;
  display: flex;
}

.obj_item .top_obj .o_right .leb a {
  display: block;
  font-size: 0.32rem;
  line-height: 0.66667rem;
  text-align: center;
  padding: 0 0.26667rem;
  background: #d0e9ff;
  margin-right: 0.2rem;
  border-radius: 4px;
}

.obj_item .time {
  padding: 0 0 0 0.53333rem;
  font-size: 0.4rem;
  line-height: 0.93333rem;
  color: #666;
}

.obj_item .dy_pro {
  padding: 0 0.53333rem;
}

.obj_item .dy_pro .pro_dec span {
  font-size: 0.4rem;
  line-height: 0.53333rem;
  margin: 0 0.26667rem 0 0;
}

.obj_item .dy_pro .pro_dec span b {
  color: #FAAD14;
}

.obj_item .dy_pro .pro_dec .rouse {
  margin: 0;
  float: right;
}

.obj_item .dy_pro .dy_progressbar {
  margin: 0.2rem 0 0 0;
}
