@charset "utf-8";
/* CSS Document */

body {
  margin: 0;
  font-size: 14px;
  -webkit-user-select: none;
  background: #fff;
}

body * {
  -webkit-user-select: none;
  font-family: "Microsoft YaHei";

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl,
dd,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

b,
strong {
  font-weight: normal;
}

em,
i {
  font-style: normal;
}

img {
  vertical-align: middle;
}

a:hover,
.on {}

/**,
	::before,
	::after{
		margin: 0;
		padding:0;
	    -webkit-box-sizing: border-box;
		box-sizing: border-box;
	}*/

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  padding: 0;
}

a,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 14px;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  overflow: auto;
}


html {
  font-size: 100px;
  background: #fff !important;
}


/* 重置mui  */
.mui-bar-nav {
  top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #1890ff;
}

.mui-title {
  color: #fff;
}

.mui-action-back {
  color: #fff;
}

.mui-bar {
  -webkit-box-shadow: none;
  box-shadow: none;

}

.dy-bar {
  background: #fff;
}

.mui-search:before {
  top: 66%;

}

.mui-search.mui-active:before {
  font-size: 20px;
  right: auto;
  left: 12px;
  display: block;
  margin-right: 0;
}

.mui-input-row.mui-search .mui-icon-clear {
  top: 12px;
}

.mui-progressbar {
  height: 6px;

}